header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: rgba(151, 165, 99, 0.4);
}


body {
    background-repeat: repeat;
    margin: 0;
    height: 100vh; /* Set height to full viewport */
    background: 
        linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), /* Overlay */
        url('./images/background1.webp'); /* Background image */
    background-position: center; /* Center the image */
    color: #333; /* Text color */
    font-family: Arial, sans-serif;
    align-items: center; /* Vertically center */
    justify-content: center; /* Horizontally center */
    text-align: center;
}



.hero-section {
    display: flex;
    justify-content: center;   /* Center horizontally */
    align-items: center;       /* Center vertically */
    height: 60vh;              /* Adjust as needed */
    position: relative;
}


.hero-content {
    background-color: rgba(151, 165, 99, 0.4); 
    padding: 2em;
    border-radius: 10px;
    max-width: 600px;
    margin-top: 5em;

    display: flex;
    flex-direction: column;
    align-items: center;  /* Center content horizontally */
}

.hero-content p.welcome {
    font-size: 45px;
    font-weight: normal;
    font: 'Raleway';
    text-align: center;
    color: #000000;
}

.hero-content p.welcomeDescription {
    font-size: 20px;
    font-weight: normal;
    font: 'Raleway';
    text-align: center;
    color: #000000;
    max-width: 90%;
}

.hero-content .loginButton {
    margin-top: 1em;
    width: 100px;
}


/* Style for the logo and name container */
.logo-container {
    width: 50px;
    display: flex;
    align-items: center;
    padding: 10px;
    flex-grow: 1;
}

/* Style for the logo image */
.logo {
    height: 130px; /* Adjust size as needed */
    width: auto;
    margin-right: 10px; /* Space between logo and name */
}

/* Style for the website name */
.site-name {
    font-size: 30px;
    font: 'Raleway';
    color: #000000;
}



.loginButton {
    display: inline-block; /* Make the link behave like a block element */
    padding: 10px 20px; /* Add padding for a button-like appearance */
    background-color: #007bff; /* Set the background color */
    color: white; /* Set the text color */
    text-decoration: none; /* Remove underline */
    border-radius: 5px; /* Round the corners */
    font-size: 16px; /* Font size */
    transition: background-color 0.3s; /* Smooth transition for hover effect */
    text-align: center;
    align-items: center;
    width: 60px;
}

.loginButton:hover {
    background-color: #0056b3; /* Darker color on hover */
    text-decoration: none;
}

.logoutContainer {
    position: fixed; /* Fixes the position to the viewport */
    bottom: 20px; /* Distance from the bottom */
    right: 20px; /* Distance from the right */
}

.loginContainer {
    position: fixed;
    flex-direction: column; /* Stack elements vertically */
    display: flex; /* Use fixed positioning */
    top: 50%; /* Center vertically */
    left: 50%; /* Center horizontally */
    transform: translate(-50%, -50%); /* Adjust the position to truly center */
    background-color: white; /* Background color for the login container */
    width: 500px;
    align-items: center;
    margin-top: 50px;
}

/* Style for the welcome message */
.welcome-message {
    font-size: 25px;
    color: #333;
}


.checkbox-options-container {
    display: flex;
    justify-content: space-between; /* Evenly space items in the row */
    align-items: center;            /* Center items vertically in the row */
}

.search-options-container {
    display: flex;
    justify-content: flex; /* Align items to the start */
    align-items: flex; /* Align items at the top */
    padding: 1em;
    margin-top: 1em;
    background-color: rgba(151, 165, 99, 0.4); /* Background color for clarity */
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Optional shadow for depth */
    gap: 1em;
}

.search-group {
    display: flex;
    flex-direction: column; /* Keeps label above select */
    margin: 2em;          /* Space out groups horizontally */
}

.checkbox-item{
    display: flex;
    align-items: center;      /* Aligns checkbox and label vertically */
    gap: 0.5em;               /* Space between checkbox and label */
    font: 'Raleway';
    color: #000000;
}

.checkbox-item input[type="checkbox"] {
    margin: 0;                /* Removes any extra margin from checkbox */
}

.checkbox-item label {
    min-width: 120px;
    text-align: left;
}

table.hall td.collegenames {
    padding: 2px;
    text-align: center;        /* Center-align text */
    color: black;              /* Text color */
    cursor:default;
}

table.hall td.collegenames:hover {
    background-color: transparent;
}

table.hall td {
    padding: 2px;
    text-align: left;        /* Center-align text */
    color: black;              /* Text color */
    cursor:default;
}

table.hall td:hover {
    background-color: #e0f7fa;
}

table.hall td.empty:hover{
    background-color: transparent;
}

.search-text {
    margin-top: 1em;
    font: 'Raleway';
    color: #000000;
}

/* Table container for responsiveness */
.table-container {
    overflow-x: auto;          /* Allows horizontal scroll on smaller screens */
    margin-top: 1em;           /* Space above the table */
}

/* Basic table styles */
table {
    width: 100%;               /* Full-width table */
    border-collapse: collapse; /* Remove space between cells */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Soft shadow */
}

/* Header styles */
table th, table td {
    padding: 12px;             /* Padding inside cells */
    text-align: center;        /* Center-align text */
    color: black;              /* Text color */
    cursor:default;
}

table div:hover {
    background-color: #e0f7fa; /* Light blue on hover */

}

/* Alternating row colors */
table tr:nth-child(even) {
    background-color: rgba(151, 165, 99, 0.4); 
}

table tr:nth-child(odd) {
    background-color: rgba(207, 224, 144, 0.4); 
}

table td.highlight:hover {
    background-color: #e0f7fa; /* Light blue on hover */
}

table tr.special:hover{
    background-color: #e0f7fa5a;
}

table td.normal:hover{
    background-color: transparent;
    cursor:default;
}
/* Special column styling (optional) */
td.special {
    color: #333;               /* Darker text for emphasis */
    font-weight: bold;
}


nav a {
    margin-right: 15px;
    height: 40px;
    width: 100px;
    text-decoration: none;
    color: #007bff;
}

nav a:hover {
    text-decoration: underline;
}

td.special {
    padding: 10px;
}


.campus-map-image {
    max-width: 90%;
    height: auto;
}

.uploadButton {
    display: inline-block; /* Make the link behave like a block element */
    padding: 10px 20px; /* Add padding for a button-like appearance */
    background-color: #5d00ff; /* Set the background color */
    color: white; /* Set the text color */
    text-decoration: none; /* Remove underline */
    border-radius: 5px; /* Round the corners */
    font-size: 16px; /* Font size */
    transition: background-color 0.3s; /* Smooth transition for hover effect */
    text-align: center;
    align-items: center;
    width: 60px;
}

.uploadButton:hover {
    background-color: #3d00a7; /* Darker color on hover */
    text-decoration: none;
}

.backButton {
    margin-left: 15px;
    margin-top: 15px;
    padding: 10px 20px; /* Add padding for a button-like appearance */
    background-color: #007bff; /* Set the background color */
    color: white; /* Set the text color */
    text-decoration: none; /* Remove underline */
    border-radius: 5px; /* Round the corners */
    font-size: 16px; /* Font size */
    transition: background-color 0.3s; /* Smooth transition for hover effect */
}

.backButton:hover {
    background-color: #0056b3; /* Darker color on hover */
    text-decoration: none; 
}

html {
    scroll-behavior: smooth;
    
}

.addtofavoritesButton {
    display: inline-block; /* Make the link behave like a block element */
    margin-right: 15px;
    padding: 10px 20px; /* Add padding for a button-like appearance */
    background-color: #510378; /* Set the background color */
    color: white; /* Set the text color */
    text-decoration: none; /* Remove underline */
    border-radius: 5px; /* Round the corners */
    font-size: 16px; /* Font size */
    transition: background-color 0.3s; /* Smooth transition for hover effect */
    text-align: center;
    cursor: pointer;
}

.addtofavoritesButton:hover {
    background-color: #3c005a; /* Darker color on hover */
}

.button-row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1em;
}

.backtodetailsButton {
    display: inline-block; /* Make the link behave like a block element */
    margin-right: 15px;
    padding: 10px 20px; /* Add padding for a button-like appearance */
    background-color: #007bff; /* Set the background color */
    color: white; /* Set the text color */
    text-decoration: none; /* Remove underline */
    border-radius: 5px; /* Round the corners */
    font-size: 16px; /* Font size */
    transition: background-color 0.3s; /* Smooth transition for hover effect */
    text-align: center;
}

.backtodetailsButton:hover {
    background-color: #0056b3; /* Darker color on hover */
}


.group-container:hover {
    background-color: #e0f7fa; /* Light blue on hover */
}

td.college{
    text-align: left; 
    padding-left: 50px; 
    width: 25%;
}

td.college:hover{
    background-color: #e0f7fa;
}

td.roomtype{
    text-align: left;
}
td.roomtype:hover{
    background-color: #e0f7fa;
}