{% extends "loggedin.html" %}

{% block content %}
<div class="button-row">
    <a href="/floor-plans" class="backButton">Back to Colleges</a>
</div>

<div class="search-text">
    <h2>Floor Plans</h2>
    Here are all of the halls in {{ college }}.
    
</div>

<br>

<br>
<br>
{% if results %}
    
<table id="hall results" class="favoriteList" style="width:30%"></table>
{% for hall in results %}
        <tr>
            <td>
                <a href="/floors/{{ college }} {{ hall }}" title="{{ college }} {{ hall }}">{{ hall }}</a>
            </td>
        </tr>
        
{% endfor %}
</table>

{% endif %}
<br><br>

{% endblock %}