{% extends "basic.html" %}


{% block content %}
    <div class="hero-section">
    <div class="hero-content">
        <p class="welcome">Welcome to TigerDen!<h2>Making room draw Easier</h2></p>
        <p class = "welcomeDescription">Tired of browsing endlessly through floor plans? <br> <br>
            TigerDen is a Room Draw aid designed to help you prepare for Room Draw all in one place <br> <br> From searching for rooms, saving your favorites, and rating rooms as a single user or within a draw group, TigerDen allows you to enter the myHousing portal confident about your room selection options.</p>
        <a href="/upload-pdf" class="loginButton"> Get Started </a>
    </div>
    </div>

{% endblock %}
