{% extends "loggedin.html" %}

{% block content %}
    
    <div align="left">
        <a href="/groups" class="backButton">Back to Groups</a>
    
        {% if results %}
        {% for room in results %}

        <div class="addtofavoritesButton" onclick="Favorite('{{ room['roomid'] }}');">
            <span
                    class="favorite-icon" 
                    style="cursor: pointer;">
                    {% if room['is_favorite'] %}
                        &#9733;  
                        Remove From Favorites<!-- Filled star -->
                    {% else %}
                        &#9734; 
                        Add to Favorites<!-- Empty star -->
                    {% endif %}
                </span>
        </div>
    </div>

    <div class="search-text">
        <h1>Room Details</h1>
        <h2>{{ room['hall'] }} {{ room['room'] }} in {{ room['college'] }}</h2>
    </div>
    

        <div class="table-container" >
        <table id="room results" style="width: 66%;" align="center" class="details">
            <tr>
                <th colspan="2"><h3>Room Info</h3></td>
                
            </tr>
            <tr>
                <td><strong>Type</strong></td>
                <td>{{ room['type'] }}</td>
            </tr>
            <tr>
                <td><strong>Sqft</strong></td>
                <td>{{ room['sqft'] }}</td>
            </tr>
            <tr>
                <td><strong>Region</strong></td>
                <td>{{ room['region'] }}</td>
            </tr>
            <tr>
                <td><strong>Elevator</strong></td>
                <td>{{ room['elevator'] }}</td>
            </tr>
            <tr>
                <td><strong>Bathroom</strong></td>
                <td>{{ room['bathroom'] }}</td>
            </tr>
            <tr>
                <td><strong>AC</strong></td>
                <td>{{ room['ac'] }}</td>
            </tr>
            <tr>
                <td><strong>Floor</strong></td>
                <td>{{ room['floor'] }}</td>
            </tr> 
        
            <tr>
                <td><strong>Floor Plan</strong></td>
                <td><a href="/newtab/{{ room['hall'] }} {{ room['room'] }} {{ room['floor'] }}" target="_blank">View Floor Plan in New Tab</a></td>
            </tr> 
    </table>
    <table class="detailsDistance" style="width: 66%;" align="center">
            <tr>
                <th colspan="2"><h3>Distance To (Minutes Walking):</h3></th>
            </tr>
            <tr>
                <td><strong>Wawa</strong></td>
                <td>{{ room['wawa'] }}</td>
            </tr>
            <tr>
                <td><strong>UStore</strong></td>
                <td>{{ room['ustore'] }}</td>
            </tr>
            <tr>
                <td><strong>Nassau Street</strong></td>
                <td>{{ room['nassau'] }}</td>
            </tr>
            <tr>
                <td><strong>Jadwin Gym</strong></td>
                <td>{{ room['jadwingym'] }}</td>
            </tr>
            <tr>
                <td><strong>Frist</strong></td>
                <td>{{ room['frist'] }}</td>
            </tr>
            <tr>
                <td><strong>Prospect Street</strong></td>
                <td>{{ room['street'] }}</td>
            </tr>
            <tr>
                <td><strong>EQuad</strong></td>
                <td>{{ room['equad'] }}</td>
            </tr>
            <tr>
                <td><strong>Dillon</strong></td>
                <td>{{ room['dillon'] }}</td>
            </tr> 

    </table>

    <br>
    <br>

    
    <div class="search-text">
        <a href="/samehall_groups/{{ room['hall'] }} {{ room['room'] }}">View other floors in this hall</a>
    </div>
    <br>
    <div class="search-text">
        {{ room['hall'] }} {{ room['room']}}
    </div>

    <div>
        <iframe src="{{ url_for('static', filename=room['filepath']) }}" frameborder="0" height="600" width="75%" title="floor"></iframe>
    </div>
    <br>

    
    {% endfor %}

    </div>
    <div class="search-text">
    {% else %}
        <p>No rooms found matching your criteria.</p>
    {% endif %}

    <script>

        function Favorite(roomID) {
            console.log("TRYING TO FAVORITE " + roomID)
            fetch(`/favorite`, {
                method: 'POST',
                headers: { 'Content-Type': 'application/json' },
                body: JSON.stringify({ room_id: roomID })
            })
            .then(response => response.json())
            .then(data => {
                if (data.success) {
                    const icon = document.querySelector('.favorite-icon');
                    icon.innerHTML = data.is_favorite ? '&#9733; Remove From Favorites' : '&#9734; Add to Favorites'; // Toggle star
                } else {
                    alert("Failed to update favorite status.");
                }
            })
            .catch(error => console.log('Error:', error));
        }
    
    </script>
    
{% endblock %}