<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TigerDen</title>
    <link rel="website icon" type = "png" href="static/images/logo.png">
    <link rel="stylesheet" href="../static/styles.css">
</head>
<body>
    <header>
        <div class="logo-container">
            <img src="../static/images/logo.webp" alt="Website Logo" class="logo">
            <span class="site-name">TigerDen</span>
        </div>
    </header>

    <div id="content">
        {% block content %}{% endblock %}
    </div>

</body>
</html>
