{% extends "loggedin.html" %}

{% block content %}
    <div class="search-text">
        <h2>Campus Wayfinding Map</h2>
        Explore the Princeton area to see how halls are situated on campus.
    </div>
    <br>
    <div class="search-text">
        <a href="static/PrincetonCampusAccessibilityMap.pdf" target="_blank">View Accessibility Map</a>
    </div>
    <br>

    <div>
        <iframe src="https://campusmap.princeton.edu/" frameborder="0" height="575", width="75%" title="MAPP"></iframe>
    </div>

    <hline></hline>

    

    <div class="search-text">
        All credit for the Campus Wayfinding Map and the linked Accessibility Map is given to the Facilities Department at Princeton University.
    </div>

    <br>
{% endblock %}