{% extends "loggedin.html" %}

{% block content %}
<div class="search-text">
    <h2>Floor Plans</h2>
    Found a room you like? Check out the other floors to see how the building is structured.
    
</div>
<br>
    <table>
        <th>
            <td>
                <a href="/college/Butler College" title="Butler">Butler</a>
            </td>
            <td>
                <a href="/college/Forbes College" title="Forbes">Forbes</a>
            </td>
            <td>
                <a href="/college/Mathey College" title="Mathey">Mathey</a>
            </td>
            <td>
                <a href="/college/New College West" title="New College West">New College West</a>
            </td>
            <td>
                <a href="/college/Rockefeller College" title="Rocky">Rocky</a>
            </td>
            <td>
                <a href="/college/Upperclass" title="Upperclass">UpperClass</a>
            </td>
            <td>
                <a href="/college/Whitman College" title="Whitman">Whitman</a>
            </td>
            <td>
                <a href="/college/Yeh College" title="Yeh">Yeh</a>
            </td>
        </th>
    </table>
<br>
<br>

{% endblock %}