{% extends "loggedin.html" %}

{% block content %}
<div class="search-text">
    <h2>Floor Plans</h2>
    Found a room you like? Check out the other floors to see how the building is structured.
    
</div>
<br>
    <table>
        <th>
            <td>
                <a href="/college/Butler">Butler</a>
            </td>
            <td>
                <a href="/college/Forbes">Forbes</a>
            </td>
            <td>
                <a href="/college/Mathey">Mathey</a>
            </td>
            <td>
                <a href="/college/NCW">New College West</a>
            </td>
            <td>
                <a href="/college/Rockefeller">Rocky</a>
            </td>
            <td>
                <a href="/college/Upperclass">UpperClass</a>
            </td>
            <td>
                <a href="/college/Whitman">Whitman</a>
            </td>
            <td>
                <a href="/college/Yeh">Yeh</a>
            </td>
        </th>
    </table>
<br>
<br>

{% endblock %}