{% extends "loggedin.html" %}

{% block content %}
<div class="search-text">
    <h2>Floor Plans</h2>
    Found a room you like? Check out the other floors to see how the building is structured.
    
</div>
<br>
    <table>
        <th>
            <td>
                <a href="/college/Butler College">Butler</a>
            </td>
            <td>
                <a href="/college/Forbes College">Forbes</a>
            </td>
            <td>
                <a href="/college/Mathey College">Mathey</a>
            </td>
            <td>
                <a href="/college/NCW College">New College West</a>
            </td>
            <td>
                <a href="/college/Rockey College">Rocky</a>
            </td>
            <td>
                <a href="/college/Upperclass">UpperClass</a>
            </td>
            <td>
                <a href="/college/Whitman College">Whitman</a>
            </td>
            <td>
                <a href="/college/Yeh College">Yeh</a>
            </td>
        </th>
    </table>
{% endblock %}