{% extends "loggedin.html" %}

{% block content %}
<div class="search-text">
    <h2>Floor Plans</h2>
    Here are all of the floor plans in {{ hall }}
    
</div>
<br>
{% if test %}  

{% for floor in test %}

<table id="room results">
        <td>
            <strong>{{ floor['name'] }}</strong>

        </td>
        <tr>
            <iframe src="{{ floor['filepath'] }}" frameborder="0" height="525", width="75%" title="{{ floor['filepath'] }}"></iframe>
        </tr>
        <td style="vertical-align:center;">
            
            <a href="{{ floor['filepath'] }}" target="_blank">&#8593;Open in new tab</a>
        </td>
</table>

{% endfor %}

{% endif %}
<br>
<br>
{% endblock %}