{% extends "loggedin.html" %}

{% block content %}
<div class="button-row">
    <a href="/floor-plans" class="backButton">Back to Colleges</a>
</div>

<div class="search-text">
    <h2>Floor Plans</h2>
    Here are all of the halls in {{ college }}.
    
</div>

<br>

<br>
<br>
{% if results %}
    

{% for hall in results %}
<table id="hall results">
        <td>
            <a href="/floors/{{ college }} {{ hall }}" title="{{ college }} {{ hall }}">{{ hall }}</a>
        </td>
    
</table>

{% endfor %}

{% endif %}
<br><br>

{% endblock %}