{% extends "loggedin.html" %}

{% block content %}
<div class="logoutContainer">
    <a href="/logout" class="loginButton">Log Out</a>
 </div>
 
<div class="container">
    <div class="header">
        <h2>Groups</h2>
        <p>All things related to your draw group.</p>
    </div>

    <div class="search-text">
        See all favorited rooms from every member in the group, rank/rate them, and have an organized place to share your preferences.
    </div>

    <br>

    <div>
        <table id="room results" border="1" style="width: 66%;" align="center">
            <tr>
                <td><strong>Hall</strong></td>
                <td><strong>Room</strong></td>
                <td><strong>Type</strong></td>
                <td><strong>Sqft</strong></td>
                <td><strong>College</strong></td>
                <td><strong>Region</strong></td>
                <td><strong>Floor Plan</strong></td>
                <td><strong>Rating</strong></td>
            </tr>
            {% for room in rooms %}
            <tr>
                <td align="center" onclick="location.href='/room_details/{{ room['roomid'] }}';" style="cursor: pointer;">
                    {{ room['hall'] }}
                </td>
                <td align="center" onclick="location.href='/room_details/{{ room['roomid'] }}';" style="cursor: pointer;">
                    {{ room['room'] }}
                </td>
                <td align="center" onclick="location.href='/room_details/{{ room['roomid'] }}';" style="cursor: pointer;">
                    {{ room['type'] }}
                </td>
                <td align="center" onclick="location.href='/room_details/{{ room['roomid'] }}';" style="cursor: pointer;">
                    {{ room['sqft'] }}
                </td>
                <td align="center" onclick="location.href='/room_details/{{ room['roomid'] }}';" style="cursor: pointer;">
                    {{ room['college'] }}
                </td>
                <td align="center" onclick="location.href='/room_details/{{ room['roomid'] }}';" style="cursor: pointer;">
                    {{ room['region'] }}
                </td>
                <td align="center" class="special">
                    {% if room['filepath'] %}
                        <a href="/newtab/{{ room['hall'] }} {{ room['room'] }} {{ room['floor'] }}" target="_blank" title="{{ room['hall'] }} {{ room['room']}}">View Floor Plan</a>
                    {% else %}
                        N/A
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </table>
        
    </div>

{% endblock %}