{% extends "basic.html" %}

{% block content %}    
    <div class="logoutContainer">
        <a href="/logout" class="loginButton">Log Out</a>
    </div>

    <h2>Search for Rooms</h2>
    Filter a search query to find the rooms that fit your desires.
    <hr>
    <form action="/search" method="GET">
        
        <table >
            <th >
                <tr>
                    <td align="center"><h3>College</h3></td>
                    <td></td>
                    <td>&emsp;</td>
                    <td>&emsp;</td>
                    <td align="center"><h3>Type</h3></td>
                </tr>
            </th>
            <tr>
                <td>
                    <input type="checkbox" id="Butler" name="Butler" value="Butler">
                    <label for="Butler">Butler</label>
                </td>
                <td>
                    <input type="checkbox" id="Forbes" name="Forbes" value="Forbes">
                    <label for="Forbes">Forbes</label>
                </td>
                <td></td><td>&emsp;</td>
                <td>
                    <input type="checkbox" id="Single" name="Single" value="Single">
                    <label for="Single">Single</label>
                </td>
                <td>
                    <input type="checkbox" id="Double" name="Double" value="Double">
                    <label for="Double">Double</label>
                </td>
            </tr>
            <tr>
                <td>
                    <input type="checkbox" id="Mathey" name="Mathey" value="Mathey">
                    <label for="Mathey">Mathey</label>
                </td>
                <td>
                    <input type="checkbox" id="New College West" name="New College West" value="New College West">
                    <label for="New College West">New College West</label>
                </td><td></td><td>&emsp;</td>
                <td>
                    <input type="checkbox" id="Triple" name="Triple" value="Triple">
                    <label for="Triple">Triple</label>
                </td>
                <td>
                    <input type="checkbox" id="Quad" name="Quad" value="Quad">
                    <label for="Quad">Quad</label>
                </td>
            </tr>
            <tr>
                <td>
                    <input type="checkbox" id="Rocky" name="Rocky" value="Rocky">
                    <label for="Rocky">Rocky</label>
                </td>
                <td>
                    <input type="checkbox" id="Upperclass" name="Upperclass" value="Upperclass">
                    <label for="Upperclass">Upperclass</label>
                </td><td></td><td>&emsp;</td>
                <td>
                    <input type="checkbox" id="Quint" name="Quint" value="Quint">
                    <label for="Quint">Quint</label>
                </td>
                <td>
                    <input type="checkbox" id="6-Person" name="6-Person" value="6-Person">
                    <label for="6-Person">6-Person</label>
                </td>
            </tr>
            <tr>
                <td>
                    <input type="checkbox" id="Whitman" name="Whitman" value="Whitman">
                    <label for="Whitman">Whitman</label>
                </td>
                <td>
                    <input type="checkbox" id="Yeh College" name="Yeh College" value="Yeh College">
                    <label for="Yeh College">Yeh College</label>
                </td>
            </tr>

        </table>
        <hr>
        <h4 style="display: inline;">Sort by</h4>
        <label for="First Sort"></label>
        <select name="First Sort" id="First Sort">
            <option value="{{ firstSort }}">First Sort</option>
            <option value="Hall ASC">Hall Ascending</option>
            <option value="Hall DESC">Hall Descending</option>
            <option value="Room ASC">Room Ascending</option>
            <option value="Room DESC">Room Descending</option>
            <option value="Type ASC">Type Ascending</option>
            <option value="Type DESC">Type Descending</option>
            <option value="Sqft ASC">Smallest Rooms First</option>
            <option value="Sqft DESC">Biggest Rooms First</option>
            <option value="College ASC">College Ascending</option>
            <option value="College DESC">College Descending</option>
            <option value="Region ASC">Region Ascending</option>
            <option value="Region DESC">Region Descending</option>
        </select>
        
        <label for="Second Sort"></label>
        <select name="Second Sort" id="Second Sort">
            <option value="{{ secondSort }}">Second Sort</option>
            <option value="Hall ASC">Hall Ascending</option>
            <option value="Hall DESC">Hall Descending</option>
            <option value="Room ASC">Room Ascending</option>
            <option value="Room DESC">Room Descending</option>
            <option value="Type ASC">Type Ascending</option>
            <option value="Type DESC">Type Descending</option>
            <option value="Sqft ASC">Smallest Rooms First</option>
            <option value="Sqft DESC">Biggest Rooms First</option>
            <option value="College ASC">College Ascending</option>
            <option value="College DESC">College Descending</option>
            <option value="Region ASC">Region Ascending</option>
            <option value="Region DESC">Region Descending</option>
        </select>
        
        
        

        
        
        
        <button type="submit">Search</button>
    </form>

    <!-- {% if results %}
        <h3>Search Results</h3>
        <ul>
            {% for room in results %}
                <li>{{ room['Hall'] }} - Room {{ room['Room'] }}, Type: {{ room['Type'] }}, Sqft: {{ room['Sqft'] }}</li>
            {% endfor %}
        </ul>
    {% endif %} -->
{% endblock %}