{% extends "loggedin.html" %}

{% block content %}
    <div class="logoutContainer">
        <a href="{{ url_for('logout') }}" class="loginButton">Log Out</a>
    </div>

    <div class="search-text">
        <h2>Room Details</h2>
        Everything there is to know about a room on campus.
    </div>


    {% if results %}
    

        {% for room in results %}
        <div class="table-container">
        <table id="room results">
            <tr>
                <th><h3>Room Info</h3></td>
                <td>&nbsp;</td>
                <th><h3>Distance To (Minutes Walking):</h3></td>
                <td></td>
            </tr>
            <tr>
                <td><strong>Hall</strong></td>
                <td>{{ room['Hall'] }}</td>
                <td><strong>Wawa</strong></td>
                <td>{{ room['Wawa'] }}</td>
            </tr>
            <tr>
                <td><strong>Room</strong></td>
                <td>{{ room['Room'] }}</td>
                <td><strong>UStore</strong></td>
                <td>{{ room['UStore'] }}</td>
            </tr>
            <tr>
                <td><strong>Type</strong></td>
                <td>{{ room['Type'] }}</td>
                <td><strong>Nassau Street</strong></td>
                <td>{{ room['Nassau'] }}</td>
            </tr>
            <tr>
                <td><strong>Sqft</strong></td>
                <td>{{ room['Sqft'] }}</td>
                <td><strong>Jadwin Gym</strong></td>
                <td>{{ room['JadwinGym'] }}</td>
            </tr>
            <tr>
                <td><strong>College</strong></td>
                <td>{{ room['College'] }}</td>
                <td><strong>Frist</strong></td>
                <td>{{ room['Frist'] }}</td>
            </tr>
            <tr>
                <td><strong>Region</strong></td>
                <td>{{ room['Region'] }}</td>
                <td><strong>Prospect Street</strong></td>
                <td>{{ room['Street'] }}</td>
            </tr>
            <tr>
                <td><strong>Elevator</strong></td>
                <td>{{ room['Elevator'] }}</td>
                <td><strong>EQuad</strong></td>
                <td>{{ room['EQuad'] }}</td>
            </tr>
            <tr>
                <td><strong>Bathroom</strong></td>
                <td>{{ room['Bathroom'] }}</td>
                <td><strong>Dillon</strong></td>
                <td>{{ room['Dillon'] }}</td>
            </tr>
            <tr>
                <td><strong>AC</strong></td>
                <td>{{ room['AC'] }}</td>
            </tr>
            <tr>
                <td><strong>Floor</strong></td>
                <td>{{ room['Floor'] }}</td>
            </tr>    
        
            <tr>
                <td><strong>Floor Plan</strong></td>
                <td><a href="{{ url_for('static', filename=room['FilePath']) }}" target="_blank">View Floor Plan in New Tab</a></td>
            </tr> 
    </table>

    <br>
    <br>

    <div class="addtofavoritesButton">
        ☆ Add to Favorites
    </div>

    <div class="search-text">
        Floor Plan
    </div>

    <div>
        <iframe src="{{ url_for('static', filename=room['FilePath']) }}" frameborder="0" height="600", width="75%" title="floor"></iframe>
    </div>

    <div class="search-text">
        <a href="/samehall/{{ room['Hall'] }} {{ room['Room'] }}">View other floors in this hall</a>
    </div>
    {% endfor %}

    </div>
    <div class="search-text">
    {% else %}
        <p>No rooms found matching your criteria.</p>
    {% endif %}
    <br>
    <br>
    <a href="/search?{% for key, value in request.args.items() %}
    {% if key != 'page' %}
        {{ key }}={{ value }}& 
    {% endif %}
{% endfor %}" 
    style="text-align: center; display: inline;">Return to searched rooms</a>
{% endblock %}