{% extends "basic.html" %}

{% block content %}
    <div class="logoutContainer">
        <a href="{{ url_for('logout') }}" class="loginButton">Log Out</a>
    </div>

    <div class="search-text">
        <h2>Room Details</h2>
        Everything there is to know about a room on campus.
    </div>


    {% if results %}
    

        {% for room in results %}
        <div class="table-container">
        <table id="room results">
            <tr>
                <th><h3>Room Info</h3></td>
                <td>&nbsp;</td>
                <th><h3>Distance To (Minutes Walking):</h3></td>
                <td></td>
            </tr>
            <tr>
                <td><strong>Hall</strong></td>
                <td>{{ room['Hall'] }}</td>
                <td >&nbsp;</td>
                <td><strong>Wawa</strong></td>
                <td>{{ room['Wawa'] }}</td>
            </tr>
            <tr>
                <td><strong>Room</strong></td>
                <td>{{ room['Room'] }}</td>
                <td>&nbsp;</td>
                <td><strong>UStore</strong></td>
                <td>{{ room['UStore'] }}</td>
            </tr>
            <tr>
                <td><strong>Type</strong></td>
                <td>{{ room['Type'] }}</td>
                <td>&nbsp;</td>
                <td><strong>Nassau Street</strong></td>
                <td>{{ room['Nassau'] }}</td>
            </tr>
            <tr>
                <td><strong>Sqft</strong></td>
                <td>{{ room['Sqft'] }}</td>
                <td>&nbsp;</td>
                <td><strong>Jadwin Gym</strong></td>
                <td>{{ room['JadwinGym'] }}</td>
            </tr>
            <tr>
                <td><strong>College</strong></td>
                <td>{{ room['College'] }}</td>
                <td>&nbsp;</td>
                <td><strong>Frist</strong></td>
                <td>{{ room['Frist'] }}</td>
            </tr>
            <tr>
                <td><strong>Region</strong></td>
                <td>{{ room['Region'] }}</td>
                <td>&nbsp;</td>
                <td><strong>Prospect Street</strong></td>
                <td>{{ room['Street'] }}</td>
            </tr>
            <tr>
                <td><strong>Elevator</strong></td>
                <td>{{ room['Elevator'] }}</td>
                <td>&nbsp;</td>
                <td><strong>EQuad</strong></td>
                <td>{{ room['EQuad'] }}</td>
            </tr>
            <tr>
                <td><strong>Bathroom</strong></td>
                <td>{{ room['Bathroom'] }}</td>
                <td>&nbsp;</td>
                <td><strong>Dillon</strong></td>
                <td>{{ room['Dillon'] }}</td>
            </tr>
            <tr>
                <td><strong>AC</strong></td>
                <td>{{ room['AC'] }}</td>
            </tr>
            <tr>
                <td><strong>Floor</strong></td>
                <td>{{ room['Floor'] }}</td>
            </tr>    
            
            <tr>
                
            </tr>
            <tr>
                
            </tr>
            <tr>
                
            </tr>
            <tr>
                
            </tr>
            <tr>
                
            </tr>
            <tr>
                
            </tr>
            <tr>
                
            </tr>
            <tr>
                
            </tr>
            <tr>
                <td><strong>Floor Plan</strong></td>
                <td><a href="{{ url_for('static', filename=room['FilePath']) }}" target="_blank">View Floor Plan</a></td>
            </tr> 
        {% endfor %}
    </table>
    </div>
    <div class="search-text">
    {% else %}
        <p>No rooms found matching your criteria.</p>
    {% endif %}
    <br>
    <br>
    <a href="{{url_for('login', FirstSort=request.cookies.get('FirstSort', 'Room'),
    SecondSort=request.cookies.get('SecondSort', 'Room'),
    FirstOrder=request.cookies.get('FirstOrder', 'Room'),
    SecondOrder=request.cookies.get('SecondOrder', 'Room'),
    selected_colleges=request.cookies.get('selected_colleges'),
    selected_types=request.cookies.get('selected_types')
    )}}"  
    style="text-align: center; display: inline;">Return to searched rooms</a>
{% endblock %}